.Calendar-header {
  height: 24px;
  padding: 10px 0;
  text-align: center;
  color: #9557f9;
  font-weight: bold;
}

.Calendar-header__button {
    width: 30%;
    border: none;
    color: transparent;
    margin: 4px;
    cursor: pointer;
}

.Calendar-header__button_back {
    background: url("../../../../images/left.jpg") no-repeat right;
    background-size: 19px 19px;
    float: left;
}

.Calendar-header__button_next {
    background: url("../../../../images/right.jpg") no-repeat left;
    background-size: 19px 19px;
    float: right;
}